================================================================================
SQL COMPLETO PARA MYSQL - SISTEMA DE BOMBEROS
================================================================================

-- NOTA: Este SQL estß generado desde las migrations de Django
-- Ejecutar en orden para crear la base de datos completa


-- ============================================================
-- MIGRATION: 0001_initial
-- ============================================================

START TRANSACTION;
--
-- Create model Beneficio
--
CREATE TABLE `voluntarios_beneficio` (`id` INT AUTO_INCREMENT PRIMARY KEY, `nombre` VARCHAR(200) NOT NULL, `descripcion` TEXT NOT NULL, `monto` DECIMAL(10,2) NOT NULL, `estado` VARCHAR(20) NOT NULL, `cupos_totales` INT NULL, `cupos_disponibles` INT NULL, `created_at` DATETIME NOT NULL);
--
-- Create model TipoAsistencia
--
CREATE TABLE `voluntarios_tipoasistencia` (`id` INT AUTO_INCREMENT PRIMARY KEY, `nombre` VARCHAR(100) NOT NULL UNIQUE, `descripcion` TEXT NULL, `activo` BOOLEAN NOT NULL);
--
-- Create model Uniforme
--
CREATE TABLE `voluntarios_uniforme` (`id` INT AUTO_INCREMENT PRIMARY KEY, `codigo` VARCHAR(20) NOT NULL UNIQUE, `tipo` VARCHAR(20) NOT NULL, `condicion` VARCHAR(20) NOT NULL, `estado_fisico` VARCHAR(20) NOT NULL, `disponible` BOOLEAN NOT NULL, `tiene_jardinera` BOOLEAN NOT NULL, `tiene_chaqueta` BOOLEAN NOT NULL, `tiene_casco` BOOLEAN NOT NULL, `observaciones` TEXT NULL, `created_at` DATETIME NOT NULL);
--
-- Create model AsignacionBeneficio
--
CREATE TABLE `voluntarios_asignacionbeneficio` (`id` INT AUTO_INCREMENT PRIMARY KEY, `fecha_asignacion` DATE NOT NULL, `monto_total` DECIMAL(10,2) NOT NULL, `monto_pagado` DECIMAL(10,2) NOT NULL, `estado_pago` VARCHAR(20) NOT NULL, `observaciones` TEXT NULL, `created_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `beneficio_id` BIGINT NOT NULL REFERENCES `voluntarios_beneficio` (`id`) );
--
-- Create model Cuota
--
CREATE TABLE `voluntarios_cuota` (`id` INT AUTO_INCREMENT PRIMARY KEY, `mes` INT NOT NULL, `anio` INT NOT NULL, `monto` DECIMAL(10,2) NOT NULL, `descripcion` TEXT NULL, `created_at` DATETIME NOT NULL);
--
-- Create model PagoBeneficio
--
CREATE TABLE `voluntarios_pagobeneficio` (`id` INT AUTO_INCREMENT PRIMARY KEY, `fecha_pago` DATE NOT NULL, `monto` DECIMAL(10,2) NOT NULL, `metodo_pago` VARCHAR(50) NULL, `numero_comprobante` VARCHAR(100) NULL, `observaciones` TEXT NULL, `created_at` DATETIME NOT NULL, `asignacion_id` BIGINT NOT NULL REFERENCES `voluntarios_asignacionbeneficio` (`id`) , `created_by_id` INT NULL REFERENCES `auth_user` (`id`) );
--
-- Create model Voluntario
--
CREATE TABLE `voluntarios_voluntario` (`id` INT AUTO_INCREMENT PRIMARY KEY, `nombre` VARCHAR(100) NOT NULL, `apellido_paterno` VARCHAR(100) NOT NULL, `apellido_materno` VARCHAR(100) NULL, `rut` VARCHAR(12) NOT NULL UNIQUE, `clave_bombero` VARCHAR(20) NOT NULL UNIQUE, `fecha_nacimiento` DATE NOT NULL, `domicilio` VARCHAR(255) NULL, `telefono` VARCHAR(20) NULL, `email` VARCHAR(254) NULL, `profesion` VARCHAR(100) NULL, `grupo_sanguineo` VARCHAR(5) NULL, `fecha_ingreso` DATE NOT NULL, `nro_registro` VARCHAR(50) NULL, `compania` VARCHAR(100) NULL, `estado_bombero` VARCHAR(20) NOT NULL, `fecha_renuncia` DATE NULL, `motivo_renuncia` TEXT NULL, `oficionum_renuncia` VARCHAR(100) NULL, `documento_renuncia` VARCHAR(100) NULL, `fecha_separacion` DATE NULL, `anios_separacion` INT NULL, `fecha_fin_separacion` DATE NULL, `motivo_separacion` TEXT NULL, `oficionum_separacion` VARCHAR(100) NULL, `documento_separacion` VARCHAR(100) NULL, `fecha_expulsion` DATE NULL, `motivo_expulsion` TEXT NULL, `oficionum_expulsion` VARCHAR(100) NULL, `documento_expulsion` VARCHAR(100) NULL, `fecha_martir` DATE NULL, `causa_martir` TEXT NULL, `oficionum_martir` VARCHAR(100) NULL, `documento_martir` VARCHAR(100) NULL, `fecha_fallecimiento` DATE NULL, `causa_fallecimiento` TEXT NULL, `oficionum_fallecimiento` VARCHAR(100) NULL, `documento_fallecimiento` VARCHAR(100) NULL, `antiguedad_congelada` BOOLEAN NOT NULL, `fecha_congelamiento` DATE NULL, `fecha_descongelamiento` DATE NULL, `foto` VARCHAR(100) NULL, `cuotas_activas` BOOLEAN NOT NULL, `fecha_cambio_cuotas` DATETIME NULL, `es_estudiante` BOOLEAN NOT NULL, `fecha_inicio_estudiante` DATE NULL, `fecha_fin_estudiante` DATE NULL, `certificado_estudiante` VARCHAR(100) NULL, `fecha_activacion_estudiante` DATETIME NULL, `historial_estados` TEXT NOT NULL CHECK ((JSON_VALID(`historial_estados`) OR `historial_estados` IS NULL)), `historial_reintegraciones` TEXT NOT NULL CHECK ((JSON_VALID(`historial_reintegraciones`) OR `historial_reintegraciones` IS NULL)), `posicion_por_antiguedad` INT NULL, `created_at` DATETIME NOT NULL, `upDATEd_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) );
--
-- Create model Sancion
--
CREATE TABLE `voluntarios_sancion` (`id` INT AUTO_INCREMENT PRIMARY KEY, `tipo_sancion` VARCHAR(20) NOT NULL, `compania_autoridad` VARCHAR(100) NULL, `autoridad_sancionatoria` VARCHAR(100) NULL, `fecha_desde` DATE NOT NULL, `dias_sancion` INT NULL, `fecha_hasta` DATE NULL, `oficio_numero` VARCHAR(100) NOT NULL, `fecha_oficio` DATE NOT NULL, `motivo` TEXT NOT NULL, `documento_oficio` VARCHAR(100) NULL, `created_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `voluntario_id` BIGINT NOT NULL REFERENCES `voluntarios_voluntario` (`id`) );
--
-- Create model PagoCuota
--
CREATE TABLE `voluntarios_pagocuota` (`id` INT AUTO_INCREMENT PRIMARY KEY, `fecha_pago` DATE NOT NULL, `monto_pagado` DECIMAL(10,2) NOT NULL, `metodo_pago` VARCHAR(50) NULL, `numero_comprobante` VARCHAR(100) NULL, `observaciones` TEXT NULL, `created_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `cuota_id` BIGINT NOT NULL REFERENCES `voluntarios_cuota` (`id`) , `voluntario_id` BIGINT NOT NULL REFERENCES `voluntarios_voluntario` (`id`) );
--
-- Create model Felicitacion
--
CREATE TABLE `voluntarios_felicitacion` (`id` INT AUTO_INCREMENT PRIMARY KEY, `motivo` TEXT NOT NULL, `fecha` DATE NOT NULL, `otorgado_por` VARCHAR(200) NOT NULL, `documento` VARCHAR(100) NULL, `created_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `voluntario_id` BIGINT NOT NULL REFERENCES `voluntarios_voluntario` (`id`) );
--
-- Create model EntregaUniforme
--
CREATE TABLE `voluntarios_entregauniforme` (`id` INT AUTO_INCREMENT PRIMARY KEY, `fecha_entrega` DATE NOT NULL, `fecha_devolucion` DATE NULL, `estado_entrega` VARCHAR(20) NULL, `estado_devolucion` VARCHAR(20) NULL, `observaciones_entrega` TEXT NULL, `observaciones_devolucion` TEXT NULL, `created_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `uniforme_id` BIGINT NOT NULL REFERENCES `voluntarios_uniforme` (`id`) , `voluntario_id` BIGINT NOT NULL REFERENCES `voluntarios_voluntario` (`id`) );
--
-- Create model Cargo
--
CREATE TABLE `voluntarios_cargo` (`id` INT AUTO_INCREMENT PRIMARY KEY, `tipo_cargo` VARCHAR(20) NOT NULL, `nombre_cargo` VARCHAR(100) NOT NULL, `anio` INT NOT NULL, `fecha_inicio` DATE NULL, `fecha_fin` DATE NULL, `observaciones` TEXT NULL, `created_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `voluntario_id` BIGINT NOT NULL REFERENCES `voluntarios_voluntario` (`id`) );
--
-- Add field voluntario to asignacionbeneficio
--
CREATE TABLE `new__voluntarios_asignacionbeneficio` (`id` INT AUTO_INCREMENT PRIMARY KEY, `fecha_asignacion` DATE NOT NULL, `monto_total` DECIMAL(10,2) NOT NULL, `monto_pagado` DECIMAL(10,2) NOT NULL, `estado_pago` VARCHAR(20) NOT NULL, `observaciones` TEXT NULL, `created_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `beneficio_id` BIGINT NOT NULL REFERENCES `voluntarios_beneficio` (`id`) , `voluntario_id` BIGINT NOT NULL REFERENCES `voluntarios_voluntario` (`id`) );
INSERT INTO `new__voluntarios_asignacionbeneficio` (`id`, `fecha_asignacion`, `monto_total`, `monto_pagado`, `estado_pago`, `observaciones`, `created_at`, `created_by_id`, `beneficio_id`, `voluntario_id`) SELECT `id`, `fecha_asignacion`, `monto_total`, `monto_pagado`, `estado_pago`, `observaciones`, `created_at`, `created_by_id`, `beneficio_id`, NULL FROM `voluntarios_asignacionbeneficio`;
DROP TABLE `voluntarios_asignacionbeneficio`;
ALTER TABLE `new__voluntarios_asignacionbeneficio` RENAME TO `voluntarios_asignacionbeneficio`;
CREATE UNIQUE INDEX `voluntarios_cuota_mes_anio_1949d2f5_uniq` ON `voluntarios_cuota` (`mes`, `anio`);
CREATE INDEX `voluntarios_pagobeneficio_asignacion_id_6d148add` ON `voluntarios_pagobeneficio` (`asignacion_id`);
CREATE INDEX `voluntarios_pagobeneficio_created_by_id_7dbaf1f9` ON `voluntarios_pagobeneficio` (`created_by_id`);
CREATE INDEX `voluntarios_voluntario_created_by_id_e492781d` ON `voluntarios_voluntario` (`created_by_id`);
CREATE INDEX `voluntarios_sancion_created_by_id_f8fa7d53` ON `voluntarios_sancion` (`created_by_id`);
CREATE INDEX `voluntarios_sancion_voluntario_id_169dbc1d` ON `voluntarios_sancion` (`voluntario_id`);
CREATE INDEX `voluntarios_pagocuota_created_by_id_e0b63a9f` ON `voluntarios_pagocuota` (`created_by_id`);
CREATE INDEX `voluntarios_pagocuota_cuota_id_7920bf70` ON `voluntarios_pagocuota` (`cuota_id`);
CREATE INDEX `voluntarios_pagocuota_voluntario_id_6f8c20be` ON `voluntarios_pagocuota` (`voluntario_id`);
CREATE INDEX `voluntarios_felicitacion_created_by_id_830aed29` ON `voluntarios_felicitacion` (`created_by_id`);
CREATE INDEX `voluntarios_felicitacion_voluntario_id_fddba34e` ON `voluntarios_felicitacion` (`voluntario_id`);
CREATE INDEX `voluntarios_entregauniforme_created_by_id_36c02fc9` ON `voluntarios_entregauniforme` (`created_by_id`);
CREATE INDEX `voluntarios_entregauniforme_uniforme_id_9a2d1a6d` ON `voluntarios_entregauniforme` (`uniforme_id`);
CREATE INDEX `voluntarios_entregauniforme_voluntario_id_a0ebdcb8` ON `voluntarios_entregauniforme` (`voluntario_id`);
CREATE INDEX `voluntarios_cargo_created_by_id_dd254df9` ON `voluntarios_cargo` (`created_by_id`);
CREATE INDEX `voluntarios_cargo_voluntario_id_86d4d44c` ON `voluntarios_cargo` (`voluntario_id`);
CREATE INDEX `voluntarios_asignacionbeneficio_created_by_id_f9a224ae` ON `voluntarios_asignacionbeneficio` (`created_by_id`);
CREATE INDEX `voluntarios_asignacionbeneficio_beneficio_id_3ff0fb7e` ON `voluntarios_asignacionbeneficio` (`beneficio_id`);
CREATE INDEX `voluntarios_asignacionbeneficio_voluntario_id_5be170d4` ON `voluntarios_asignacionbeneficio` (`voluntario_id`);
--
-- Create model Asistencia
--
CREATE TABLE `voluntarios_asistencia` (`id` INT AUTO_INCREMENT PRIMARY KEY, `fecha_hora` DATETIME NOT NULL, `presente` BOOLEAN NOT NULL, `justificada` BOOLEAN NOT NULL, `motivo_inasistencia` TEXT NULL, `observaciones` TEXT NULL, `created_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `tipo_asistencia_id` BIGINT NOT NULL REFERENCES `voluntarios_tipoasistencia` (`id`) , `voluntario_id` BIGINT NOT NULL REFERENCES `voluntarios_voluntario` (`id`) );
CREATE UNIQUE INDEX `voluntarios_asistencia_voluntario_id_tipo_asistencia_id_fecha_hora_6ad453a0_uniq` ON `voluntarios_asistencia` (`voluntario_id`, `tipo_asistencia_id`, `fecha_hora`);
CREATE INDEX `voluntarios_asistencia_created_by_id_2e285a72` ON `voluntarios_asistencia` (`created_by_id`);
CREATE INDEX `voluntarios_asistencia_tipo_asistencia_id_493c5287` ON `voluntarios_asistencia` (`tipo_asistencia_id`);
CREATE INDEX `voluntarios_asistencia_voluntario_id_b7e998a6` ON `voluntarios_asistencia` (`voluntario_id`);
COMMIT;


-- ============================================================
-- MIGRATION: 0002_voluntarioexterno_cicloasistencia_eventoasistencia_and_more
-- ============================================================

START TRANSACTION;
--
-- Create model VoluntarioExterno
--
CREATE TABLE `voluntarios_voluntarioexterno` (`id` INT AUTO_INCREMENT PRIMARY KEY, `codigo` VARCHAR(20) NOT NULL UNIQUE, `nombre_completo` VARCHAR(200) NOT NULL, `tipo` VARCHAR(20) NOT NULL, `total_asistencias` INT NOT NULL, `fecha_primera_asistencia` DATE NULL, `fecha_ultima_asistencia` DATE NULL, `created_at` DATETIME NOT NULL);
--
-- Create model CicloAsistencia
--
CREATE TABLE `voluntarios_cicloasistencia` (`id` INT AUTO_INCREMENT PRIMARY KEY, `anio` INT NOT NULL UNIQUE, `fecha_inicio` DATE NOT NULL, `fecha_fin` DATE NOT NULL, `activo` BOOLEAN NOT NULL, `minimo_asistencias_emergencias` INT NOT NULL, `minimo_asistencias_asambleas` INT NOT NULL, `minimo_asistencias_ejercicios` INT NOT NULL, `observaciones` TEXT NULL, `created_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) );
--
-- Create model EventoAsistencia
--
CREATE TABLE `voluntarios_eventoasistencia` (`id` INT AUTO_INCREMENT PRIMARY KEY, `id_evento` BIGINT NOT NULL UNIQUE, `tipo` VARCHAR(20) NOT NULL, `fecha` DATE NOT NULL, `descripcion` TEXT NOT NULL, `clave_emergencia` VARCHAR(50) NULL, `direccion` TEXT NULL, `hora_emergencia` time NULL, `tipo_asamblea` VARCHAR(20) NULL, `tipo_ejercicio` VARCHAR(20) NULL, `nombre_citacion` VARCHAR(200) NULL, `motivo_otras` VARCHAR(200) NULL, `total_asistentes` INT NOT NULL, `oficiales_comandancia` INT NOT NULL, `oficiales_compania` INT NOT NULL, `total_oficiales` INT NOT NULL, `cargos_confianza` INT NOT NULL, `voluntarios` INT NOT NULL, `participantes` INT NOT NULL, `canjes` INT NOT NULL, `porcentaje_asistencia` DECIMAL(10,2) NOT NULL, `observaciones` TEXT NULL, `fecha_registro` DATETIME NOT NULL, `registrado_por_id` INT NULL REFERENCES `auth_user` (`id`) );
--
-- Create model DetalleAsistencia
--
CREATE TABLE `voluntarios_detalleasistencia` (`id` INT AUTO_INCREMENT PRIMARY KEY, `nombre_completo` VARCHAR(200) NOT NULL, `clave_bombero` VARCHAR(20) NULL, `categoria` VARCHAR(100) NULL, `cargo` VARCHAR(100) NULL, `anio_cargo` INT NULL, `es_externo` BOOLEAN NOT NULL, `tipo_externo` VARCHAR(20) NULL, `created_at` DATETIME NOT NULL, `voluntario_id` BIGINT NULL REFERENCES `voluntarios_voluntario` (`id`) , `evento_id` BIGINT NOT NULL REFERENCES `voluntarios_eventoasistencia` (`id`) , `externo_id` BIGINT NULL REFERENCES `voluntarios_voluntarioexterno` (`id`) );
--
-- Create model RankingAsistencia
--
CREATE TABLE `voluntarios_rankingasistencia` (`id` INT AUTO_INCREMENT PRIMARY KEY, `anio` INT NOT NULL, `nombre_completo` VARCHAR(200) NOT NULL, `clave_bombero` VARCHAR(20) NULL, `total` INT NOT NULL, `emergencias` INT NOT NULL, `asambleas` INT NOT NULL, `ejercicios` INT NOT NULL, `citaciones` INT NOT NULL, `otras` INT NOT NULL, `es_externo` BOOLEAN NOT NULL, `tipo_externo` VARCHAR(20) NULL, `upDATEd_at` DATETIME NOT NULL, `voluntario_id` BIGINT NULL REFERENCES `voluntarios_voluntario` (`id`) , `externo_id` BIGINT NULL REFERENCES `voluntarios_voluntarioexterno` (`id`) );
CREATE INDEX `voluntarios_cicloasistencia_created_by_id_2fcd30bf` ON `voluntarios_cicloasistencia` (`created_by_id`);
CREATE INDEX `voluntarios_eventoasistencia_registrado_por_id_07054563` ON `voluntarios_eventoasistencia` (`registrado_por_id`);
CREATE INDEX `voluntarios_detalleasistencia_voluntario_id_db1e7219` ON `voluntarios_detalleasistencia` (`voluntario_id`);
CREATE INDEX `voluntarios_detalleasistencia_evento_id_211ba065` ON `voluntarios_detalleasistencia` (`evento_id`);
CREATE INDEX `voluntarios_detalleasistencia_externo_id_6de71911` ON `voluntarios_detalleasistencia` (`externo_id`);
CREATE UNIQUE INDEX `voluntarios_rankingasistencia_anio_voluntario_id_0a848c39_uniq` ON `voluntarios_rankingasistencia` (`anio`, `voluntario_id`);
CREATE UNIQUE INDEX `voluntarios_rankingasistencia_anio_externo_id_3862f546_uniq` ON `voluntarios_rankingasistencia` (`anio`, `externo_id`);
CREATE INDEX `voluntarios_rankingasistencia_voluntario_id_a72165f7` ON `voluntarios_rankingasistencia` (`voluntario_id`);
CREATE INDEX `voluntarios_rankingasistencia_externo_id_4200bd0b` ON `voluntarios_rankingasistencia` (`externo_id`);
COMMIT;


-- ============================================================
-- MIGRATION: 0003_alter_voluntario_apellido_paterno_and_more
-- ============================================================

START TRANSACTION;
--
-- Alter field apellido_paterno on voluntario
--
CREATE TABLE `new__voluntarios_voluntario` (`id` INT AUTO_INCREMENT PRIMARY KEY, `apellido_paterno` VARCHAR(100) NULL, `nombre` VARCHAR(100) NOT NULL, `apellido_materno` VARCHAR(100) NULL, `rut` VARCHAR(12) NOT NULL UNIQUE, `clave_bombero` VARCHAR(20) NOT NULL UNIQUE, `fecha_nacimiento` DATE NOT NULL, `domicilio` VARCHAR(255) NULL, `telefono` VARCHAR(20) NULL, `email` VARCHAR(254) NULL, `profesion` VARCHAR(100) NULL, `grupo_sanguineo` VARCHAR(5) NULL, `fecha_ingreso` DATE NOT NULL, `nro_registro` VARCHAR(50) NULL, `compania` VARCHAR(100) NULL, `estado_bombero` VARCHAR(20) NOT NULL, `fecha_renuncia` DATE NULL, `motivo_renuncia` TEXT NULL, `oficionum_renuncia` VARCHAR(100) NULL, `documento_renuncia` VARCHAR(100) NULL, `fecha_separacion` DATE NULL, `anios_separacion` INT NULL, `fecha_fin_separacion` DATE NULL, `motivo_separacion` TEXT NULL, `oficionum_separacion` VARCHAR(100) NULL, `documento_separacion` VARCHAR(100) NULL, `fecha_expulsion` DATE NULL, `motivo_expulsion` TEXT NULL, `oficionum_expulsion` VARCHAR(100) NULL, `documento_expulsion` VARCHAR(100) NULL, `fecha_martir` DATE NULL, `causa_martir` TEXT NULL, `oficionum_martir` VARCHAR(100) NULL, `documento_martir` VARCHAR(100) NULL, `fecha_fallecimiento` DATE NULL, `causa_fallecimiento` TEXT NULL, `oficionum_fallecimiento` VARCHAR(100) NULL, `documento_fallecimiento` VARCHAR(100) NULL, `antiguedad_congelada` BOOLEAN NOT NULL, `fecha_congelamiento` DATE NULL, `fecha_descongelamiento` DATE NULL, `foto` VARCHAR(100) NULL, `cuotas_activas` BOOLEAN NOT NULL, `fecha_cambio_cuotas` DATETIME NULL, `es_estudiante` BOOLEAN NOT NULL, `fecha_inicio_estudiante` DATE NULL, `fecha_fin_estudiante` DATE NULL, `certificado_estudiante` VARCHAR(100) NULL, `fecha_activacion_estudiante` DATETIME NULL, `historial_estados` TEXT NOT NULL CHECK ((JSON_VALID(`historial_estados`) OR `historial_estados` IS NULL)), `historial_reintegraciones` TEXT NOT NULL CHECK ((JSON_VALID(`historial_reintegraciones`) OR `historial_reintegraciones` IS NULL)), `posicion_por_antiguedad` INT NULL, `created_at` DATETIME NOT NULL, `upDATEd_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) );
INSERT INTO `new__voluntarios_voluntario` (`id`, `nombre`, `apellido_materno`, `rut`, `clave_bombero`, `fecha_nacimiento`, `domicilio`, `telefono`, `email`, `profesion`, `grupo_sanguineo`, `fecha_ingreso`, `nro_registro`, `compania`, `estado_bombero`, `fecha_renuncia`, `motivo_renuncia`, `oficionum_renuncia`, `documento_renuncia`, `fecha_separacion`, `anios_separacion`, `fecha_fin_separacion`, `motivo_separacion`, `oficionum_separacion`, `documento_separacion`, `fecha_expulsion`, `motivo_expulsion`, `oficionum_expulsion`, `documento_expulsion`, `fecha_martir`, `causa_martir`, `oficionum_martir`, `documento_martir`, `fecha_fallecimiento`, `causa_fallecimiento`, `oficionum_fallecimiento`, `documento_fallecimiento`, `antiguedad_congelada`, `fecha_congelamiento`, `fecha_descongelamiento`, `foto`, `cuotas_activas`, `fecha_cambio_cuotas`, `es_estudiante`, `fecha_inicio_estudiante`, `fecha_fin_estudiante`, `certificado_estudiante`, `fecha_activacion_estudiante`, `historial_estados`, `historial_reintegraciones`, `posicion_por_antiguedad`, `created_at`, `upDATEd_at`, `created_by_id`, `apellido_paterno`) SELECT `id`, `nombre`, `apellido_materno`, `rut`, `clave_bombero`, `fecha_nacimiento`, `domicilio`, `telefono`, `email`, `profesion`, `grupo_sanguineo`, `fecha_ingreso`, `nro_registro`, `compania`, `estado_bombero`, `fecha_renuncia`, `motivo_renuncia`, `oficionum_renuncia`, `documento_renuncia`, `fecha_separacion`, `anios_separacion`, `fecha_fin_separacion`, `motivo_separacion`, `oficionum_separacion`, `documento_separacion`, `fecha_expulsion`, `motivo_expulsion`, `oficionum_expulsion`, `documento_expulsion`, `fecha_martir`, `causa_martir`, `oficionum_martir`, `documento_martir`, `fecha_fallecimiento`, `causa_fallecimiento`, `oficionum_fallecimiento`, `documento_fallecimiento`, `antiguedad_congelada`, `fecha_congelamiento`, `fecha_descongelamiento`, `foto`, `cuotas_activas`, `fecha_cambio_cuotas`, `es_estudiante`, `fecha_inicio_estudiante`, `fecha_fin_estudiante`, `certificado_estudiante`, `fecha_activacion_estudiante`, `historial_estados`, `historial_reintegraciones`, `posicion_por_antiguedad`, `created_at`, `upDATEd_at`, `created_by_id`, `apellido_paterno` FROM `voluntarios_voluntario`;
DROP TABLE `voluntarios_voluntario`;
ALTER TABLE `new__voluntarios_voluntario` RENAME TO `voluntarios_voluntario`;
CREATE INDEX `voluntarios_voluntario_created_by_id_e492781d` ON `voluntarios_voluntario` (`created_by_id`);
--
-- Alter field clave_bombero on voluntario
--
CREATE TABLE `new__voluntarios_voluntario` (`id` INT AUTO_INCREMENT PRIMARY KEY, `nombre` VARCHAR(100) NOT NULL, `apellido_paterno` VARCHAR(100) NULL, `apellido_materno` VARCHAR(100) NULL, `rut` VARCHAR(12) NOT NULL UNIQUE, `fecha_nacimiento` DATE NOT NULL, `domicilio` VARCHAR(255) NULL, `telefono` VARCHAR(20) NULL, `email` VARCHAR(254) NULL, `profesion` VARCHAR(100) NULL, `grupo_sanguineo` VARCHAR(5) NULL, `fecha_ingreso` DATE NOT NULL, `nro_registro` VARCHAR(50) NULL, `compania` VARCHAR(100) NULL, `estado_bombero` VARCHAR(20) NOT NULL, `fecha_renuncia` DATE NULL, `motivo_renuncia` TEXT NULL, `oficionum_renuncia` VARCHAR(100) NULL, `documento_renuncia` VARCHAR(100) NULL, `fecha_separacion` DATE NULL, `anios_separacion` INT NULL, `fecha_fin_separacion` DATE NULL, `motivo_separacion` TEXT NULL, `oficionum_separacion` VARCHAR(100) NULL, `documento_separacion` VARCHAR(100) NULL, `fecha_expulsion` DATE NULL, `motivo_expulsion` TEXT NULL, `oficionum_expulsion` VARCHAR(100) NULL, `documento_expulsion` VARCHAR(100) NULL, `fecha_martir` DATE NULL, `causa_martir` TEXT NULL, `oficionum_martir` VARCHAR(100) NULL, `documento_martir` VARCHAR(100) NULL, `fecha_fallecimiento` DATE NULL, `causa_fallecimiento` TEXT NULL, `oficionum_fallecimiento` VARCHAR(100) NULL, `documento_fallecimiento` VARCHAR(100) NULL, `antiguedad_congelada` BOOLEAN NOT NULL, `fecha_congelamiento` DATE NULL, `fecha_descongelamiento` DATE NULL, `foto` VARCHAR(100) NULL, `cuotas_activas` BOOLEAN NOT NULL, `fecha_cambio_cuotas` DATETIME NULL, `es_estudiante` BOOLEAN NOT NULL, `fecha_inicio_estudiante` DATE NULL, `fecha_fin_estudiante` DATE NULL, `certificado_estudiante` VARCHAR(100) NULL, `fecha_activacion_estudiante` DATETIME NULL, `historial_estados` TEXT NOT NULL CHECK ((JSON_VALID(`historial_estados`) OR `historial_estados` IS NULL)), `historial_reintegraciones` TEXT NOT NULL CHECK ((JSON_VALID(`historial_reintegraciones`) OR `historial_reintegraciones` IS NULL)), `posicion_por_antiguedad` INT NULL, `created_at` DATETIME NOT NULL, `upDATEd_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `clave_bombero` VARCHAR(20) NULL);
INSERT INTO `new__voluntarios_voluntario` (`id`, `nombre`, `apellido_paterno`, `apellido_materno`, `rut`, `fecha_nacimiento`, `domicilio`, `telefono`, `email`, `profesion`, `grupo_sanguineo`, `fecha_ingreso`, `nro_registro`, `compania`, `estado_bombero`, `fecha_renuncia`, `motivo_renuncia`, `oficionum_renuncia`, `documento_renuncia`, `fecha_separacion`, `anios_separacion`, `fecha_fin_separacion`, `motivo_separacion`, `oficionum_separacion`, `documento_separacion`, `fecha_expulsion`, `motivo_expulsion`, `oficionum_expulsion`, `documento_expulsion`, `fecha_martir`, `causa_martir`, `oficionum_martir`, `documento_martir`, `fecha_fallecimiento`, `causa_fallecimiento`, `oficionum_fallecimiento`, `documento_fallecimiento`, `antiguedad_congelada`, `fecha_congelamiento`, `fecha_descongelamiento`, `foto`, `cuotas_activas`, `fecha_cambio_cuotas`, `es_estudiante`, `fecha_inicio_estudiante`, `fecha_fin_estudiante`, `certificado_estudiante`, `fecha_activacion_estudiante`, `historial_estados`, `historial_reintegraciones`, `posicion_por_antiguedad`, `created_at`, `upDATEd_at`, `created_by_id`, `clave_bombero`) SELECT `id`, `nombre`, `apellido_paterno`, `apellido_materno`, `rut`, `fecha_nacimiento`, `domicilio`, `telefono`, `email`, `profesion`, `grupo_sanguineo`, `fecha_ingreso`, `nro_registro`, `compania`, `estado_bombero`, `fecha_renuncia`, `motivo_renuncia`, `oficionum_renuncia`, `documento_renuncia`, `fecha_separacion`, `anios_separacion`, `fecha_fin_separacion`, `motivo_separacion`, `oficionum_separacion`, `documento_separacion`, `fecha_expulsion`, `motivo_expulsion`, `oficionum_expulsion`, `documento_expulsion`, `fecha_martir`, `causa_martir`, `oficionum_martir`, `documento_martir`, `fecha_fallecimiento`, `causa_fallecimiento`, `oficionum_fallecimiento`, `documento_fallecimiento`, `antiguedad_congelada`, `fecha_congelamiento`, `fecha_descongelamiento`, `foto`, `cuotas_activas`, `fecha_cambio_cuotas`, `es_estudiante`, `fecha_inicio_estudiante`, `fecha_fin_estudiante`, `certificado_estudiante`, `fecha_activacion_estudiante`, `historial_estados`, `historial_reintegraciones`, `posicion_por_antiguedad`, `created_at`, `upDATEd_at`, `created_by_id`, `clave_bombero` FROM `voluntarios_voluntario`;
DROP TABLE `voluntarios_voluntario`;
ALTER TABLE `new__voluntarios_voluntario` RENAME TO `voluntarios_voluntario`;
CREATE INDEX `voluntarios_voluntario_created_by_id_e492781d` ON `voluntarios_voluntario` (`created_by_id`);
--
-- Alter field fecha_ingreso on voluntario
--
CREATE TABLE `new__voluntarios_voluntario` (`id` INT AUTO_INCREMENT PRIMARY KEY, `nombre` VARCHAR(100) NOT NULL, `apellido_paterno` VARCHAR(100) NULL, `apellido_materno` VARCHAR(100) NULL, `rut` VARCHAR(12) NOT NULL UNIQUE, `clave_bombero` VARCHAR(20) NULL, `fecha_nacimiento` DATE NOT NULL, `domicilio` VARCHAR(255) NULL, `telefono` VARCHAR(20) NULL, `email` VARCHAR(254) NULL, `profesion` VARCHAR(100) NULL, `grupo_sanguineo` VARCHAR(5) NULL, `nro_registro` VARCHAR(50) NULL, `compania` VARCHAR(100) NULL, `estado_bombero` VARCHAR(20) NOT NULL, `fecha_renuncia` DATE NULL, `motivo_renuncia` TEXT NULL, `oficionum_renuncia` VARCHAR(100) NULL, `documento_renuncia` VARCHAR(100) NULL, `fecha_separacion` DATE NULL, `anios_separacion` INT NULL, `fecha_fin_separacion` DATE NULL, `motivo_separacion` TEXT NULL, `oficionum_separacion` VARCHAR(100) NULL, `documento_separacion` VARCHAR(100) NULL, `fecha_expulsion` DATE NULL, `motivo_expulsion` TEXT NULL, `oficionum_expulsion` VARCHAR(100) NULL, `documento_expulsion` VARCHAR(100) NULL, `fecha_martir` DATE NULL, `causa_martir` TEXT NULL, `oficionum_martir` VARCHAR(100) NULL, `documento_martir` VARCHAR(100) NULL, `fecha_fallecimiento` DATE NULL, `causa_fallecimiento` TEXT NULL, `oficionum_fallecimiento` VARCHAR(100) NULL, `documento_fallecimiento` VARCHAR(100) NULL, `antiguedad_congelada` BOOLEAN NOT NULL, `fecha_congelamiento` DATE NULL, `fecha_descongelamiento` DATE NULL, `foto` VARCHAR(100) NULL, `cuotas_activas` BOOLEAN NOT NULL, `fecha_cambio_cuotas` DATETIME NULL, `es_estudiante` BOOLEAN NOT NULL, `fecha_inicio_estudiante` DATE NULL, `fecha_fin_estudiante` DATE NULL, `certificado_estudiante` VARCHAR(100) NULL, `fecha_activacion_estudiante` DATETIME NULL, `historial_estados` TEXT NOT NULL CHECK ((JSON_VALID(`historial_estados`) OR `historial_estados` IS NULL)), `historial_reintegraciones` TEXT NOT NULL CHECK ((JSON_VALID(`historial_reintegraciones`) OR `historial_reintegraciones` IS NULL)), `posicion_por_antiguedad` INT NULL, `created_at` DATETIME NOT NULL, `upDATEd_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `fecha_ingreso` DATE NULL);
INSERT INTO `new__voluntarios_voluntario` (`id`, `nombre`, `apellido_paterno`, `apellido_materno`, `rut`, `clave_bombero`, `fecha_nacimiento`, `domicilio`, `telefono`, `email`, `profesion`, `grupo_sanguineo`, `nro_registro`, `compania`, `estado_bombero`, `fecha_renuncia`, `motivo_renuncia`, `oficionum_renuncia`, `documento_renuncia`, `fecha_separacion`, `anios_separacion`, `fecha_fin_separacion`, `motivo_separacion`, `oficionum_separacion`, `documento_separacion`, `fecha_expulsion`, `motivo_expulsion`, `oficionum_expulsion`, `documento_expulsion`, `fecha_martir`, `causa_martir`, `oficionum_martir`, `documento_martir`, `fecha_fallecimiento`, `causa_fallecimiento`, `oficionum_fallecimiento`, `documento_fallecimiento`, `antiguedad_congelada`, `fecha_congelamiento`, `fecha_descongelamiento`, `foto`, `cuotas_activas`, `fecha_cambio_cuotas`, `es_estudiante`, `fecha_inicio_estudiante`, `fecha_fin_estudiante`, `certificado_estudiante`, `fecha_activacion_estudiante`, `historial_estados`, `historial_reintegraciones`, `posicion_por_antiguedad`, `created_at`, `upDATEd_at`, `created_by_id`, `fecha_ingreso`) SELECT `id`, `nombre`, `apellido_paterno`, `apellido_materno`, `rut`, `clave_bombero`, `fecha_nacimiento`, `domicilio`, `telefono`, `email`, `profesion`, `grupo_sanguineo`, `nro_registro`, `compania`, `estado_bombero`, `fecha_renuncia`, `motivo_renuncia`, `oficionum_renuncia`, `documento_renuncia`, `fecha_separacion`, `anios_separacion`, `fecha_fin_separacion`, `motivo_separacion`, `oficionum_separacion`, `documento_separacion`, `fecha_expulsion`, `motivo_expulsion`, `oficionum_expulsion`, `documento_expulsion`, `fecha_martir`, `causa_martir`, `oficionum_martir`, `documento_martir`, `fecha_fallecimiento`, `causa_fallecimiento`, `oficionum_fallecimiento`, `documento_fallecimiento`, `antiguedad_congelada`, `fecha_congelamiento`, `fecha_descongelamiento`, `foto`, `cuotas_activas`, `fecha_cambio_cuotas`, `es_estudiante`, `fecha_inicio_estudiante`, `fecha_fin_estudiante`, `certificado_estudiante`, `fecha_activacion_estudiante`, `historial_estados`, `historial_reintegraciones`, `posicion_por_antiguedad`, `created_at`, `upDATEd_at`, `created_by_id`, `fecha_ingreso` FROM `voluntarios_voluntario`;
DROP TABLE `voluntarios_voluntario`;
ALTER TABLE `new__voluntarios_voluntario` RENAME TO `voluntarios_voluntario`;
CREATE INDEX `voluntarios_voluntario_created_by_id_e492781d` ON `voluntarios_voluntario` (`created_by_id`);
--
-- Alter field fecha_nacimiento on voluntario
--
CREATE TABLE `new__voluntarios_voluntario` (`id` INT AUTO_INCREMENT PRIMARY KEY, `nombre` VARCHAR(100) NOT NULL, `apellido_paterno` VARCHAR(100) NULL, `apellido_materno` VARCHAR(100) NULL, `rut` VARCHAR(12) NOT NULL UNIQUE, `clave_bombero` VARCHAR(20) NULL, `domicilio` VARCHAR(255) NULL, `telefono` VARCHAR(20) NULL, `email` VARCHAR(254) NULL, `profesion` VARCHAR(100) NULL, `grupo_sanguineo` VARCHAR(5) NULL, `fecha_ingreso` DATE NULL, `nro_registro` VARCHAR(50) NULL, `compania` VARCHAR(100) NULL, `estado_bombero` VARCHAR(20) NOT NULL, `fecha_renuncia` DATE NULL, `motivo_renuncia` TEXT NULL, `oficionum_renuncia` VARCHAR(100) NULL, `documento_renuncia` VARCHAR(100) NULL, `fecha_separacion` DATE NULL, `anios_separacion` INT NULL, `fecha_fin_separacion` DATE NULL, `motivo_separacion` TEXT NULL, `oficionum_separacion` VARCHAR(100) NULL, `documento_separacion` VARCHAR(100) NULL, `fecha_expulsion` DATE NULL, `motivo_expulsion` TEXT NULL, `oficionum_expulsion` VARCHAR(100) NULL, `documento_expulsion` VARCHAR(100) NULL, `fecha_martir` DATE NULL, `causa_martir` TEXT NULL, `oficionum_martir` VARCHAR(100) NULL, `documento_martir` VARCHAR(100) NULL, `fecha_fallecimiento` DATE NULL, `causa_fallecimiento` TEXT NULL, `oficionum_fallecimiento` VARCHAR(100) NULL, `documento_fallecimiento` VARCHAR(100) NULL, `antiguedad_congelada` BOOLEAN NOT NULL, `fecha_congelamiento` DATE NULL, `fecha_descongelamiento` DATE NULL, `foto` VARCHAR(100) NULL, `cuotas_activas` BOOLEAN NOT NULL, `fecha_cambio_cuotas` DATETIME NULL, `es_estudiante` BOOLEAN NOT NULL, `fecha_inicio_estudiante` DATE NULL, `fecha_fin_estudiante` DATE NULL, `certificado_estudiante` VARCHAR(100) NULL, `fecha_activacion_estudiante` DATETIME NULL, `historial_estados` TEXT NOT NULL CHECK ((JSON_VALID(`historial_estados`) OR `historial_estados` IS NULL)), `historial_reintegraciones` TEXT NOT NULL CHECK ((JSON_VALID(`historial_reintegraciones`) OR `historial_reintegraciones` IS NULL)), `posicion_por_antiguedad` INT NULL, `created_at` DATETIME NOT NULL, `upDATEd_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `fecha_nacimiento` DATE NULL);
INSERT INTO `new__voluntarios_voluntario` (`id`, `nombre`, `apellido_paterno`, `apellido_materno`, `rut`, `clave_bombero`, `domicilio`, `telefono`, `email`, `profesion`, `grupo_sanguineo`, `fecha_ingreso`, `nro_registro`, `compania`, `estado_bombero`, `fecha_renuncia`, `motivo_renuncia`, `oficionum_renuncia`, `documento_renuncia`, `fecha_separacion`, `anios_separacion`, `fecha_fin_separacion`, `motivo_separacion`, `oficionum_separacion`, `documento_separacion`, `fecha_expulsion`, `motivo_expulsion`, `oficionum_expulsion`, `documento_expulsion`, `fecha_martir`, `causa_martir`, `oficionum_martir`, `documento_martir`, `fecha_fallecimiento`, `causa_fallecimiento`, `oficionum_fallecimiento`, `documento_fallecimiento`, `antiguedad_congelada`, `fecha_congelamiento`, `fecha_descongelamiento`, `foto`, `cuotas_activas`, `fecha_cambio_cuotas`, `es_estudiante`, `fecha_inicio_estudiante`, `fecha_fin_estudiante`, `certificado_estudiante`, `fecha_activacion_estudiante`, `historial_estados`, `historial_reintegraciones`, `posicion_por_antiguedad`, `created_at`, `upDATEd_at`, `created_by_id`, `fecha_nacimiento`) SELECT `id`, `nombre`, `apellido_paterno`, `apellido_materno`, `rut`, `clave_bombero`, `domicilio`, `telefono`, `email`, `profesion`, `grupo_sanguineo`, `fecha_ingreso`, `nro_registro`, `compania`, `estado_bombero`, `fecha_renuncia`, `motivo_renuncia`, `oficionum_renuncia`, `documento_renuncia`, `fecha_separacion`, `anios_separacion`, `fecha_fin_separacion`, `motivo_separacion`, `oficionum_separacion`, `documento_separacion`, `fecha_expulsion`, `motivo_expulsion`, `oficionum_expulsion`, `documento_expulsion`, `fecha_martir`, `causa_martir`, `oficionum_martir`, `documento_martir`, `fecha_fallecimiento`, `causa_fallecimiento`, `oficionum_fallecimiento`, `documento_fallecimiento`, `antiguedad_congelada`, `fecha_congelamiento`, `fecha_descongelamiento`, `foto`, `cuotas_activas`, `fecha_cambio_cuotas`, `es_estudiante`, `fecha_inicio_estudiante`, `fecha_fin_estudiante`, `certificado_estudiante`, `fecha_activacion_estudiante`, `historial_estados`, `historial_reintegraciones`, `posicion_por_antiguedad`, `created_at`, `upDATEd_at`, `created_by_id`, `fecha_nacimiento` FROM `voluntarios_voluntario`;
DROP TABLE `voluntarios_voluntario`;
ALTER TABLE `new__voluntarios_voluntario` RENAME TO `voluntarios_voluntario`;
CREATE INDEX `voluntarios_voluntario_created_by_id_e492781d` ON `voluntarios_voluntario` (`created_by_id`);
--
-- Alter field nombre on voluntario
--
CREATE TABLE `new__voluntarios_voluntario` (`id` INT AUTO_INCREMENT PRIMARY KEY, `apellido_paterno` VARCHAR(100) NULL, `apellido_materno` VARCHAR(100) NULL, `rut` VARCHAR(12) NOT NULL UNIQUE, `clave_bombero` VARCHAR(20) NULL, `fecha_nacimiento` DATE NULL, `domicilio` VARCHAR(255) NULL, `telefono` VARCHAR(20) NULL, `email` VARCHAR(254) NULL, `profesion` VARCHAR(100) NULL, `grupo_sanguineo` VARCHAR(5) NULL, `fecha_ingreso` DATE NULL, `nro_registro` VARCHAR(50) NULL, `compania` VARCHAR(100) NULL, `estado_bombero` VARCHAR(20) NOT NULL, `fecha_renuncia` DATE NULL, `motivo_renuncia` TEXT NULL, `oficionum_renuncia` VARCHAR(100) NULL, `documento_renuncia` VARCHAR(100) NULL, `fecha_separacion` DATE NULL, `anios_separacion` INT NULL, `fecha_fin_separacion` DATE NULL, `motivo_separacion` TEXT NULL, `oficionum_separacion` VARCHAR(100) NULL, `documento_separacion` VARCHAR(100) NULL, `fecha_expulsion` DATE NULL, `motivo_expulsion` TEXT NULL, `oficionum_expulsion` VARCHAR(100) NULL, `documento_expulsion` VARCHAR(100) NULL, `fecha_martir` DATE NULL, `causa_martir` TEXT NULL, `oficionum_martir` VARCHAR(100) NULL, `documento_martir` VARCHAR(100) NULL, `fecha_fallecimiento` DATE NULL, `causa_fallecimiento` TEXT NULL, `oficionum_fallecimiento` VARCHAR(100) NULL, `documento_fallecimiento` VARCHAR(100) NULL, `antiguedad_congelada` BOOLEAN NOT NULL, `fecha_congelamiento` DATE NULL, `fecha_descongelamiento` DATE NULL, `foto` VARCHAR(100) NULL, `cuotas_activas` BOOLEAN NOT NULL, `fecha_cambio_cuotas` DATETIME NULL, `es_estudiante` BOOLEAN NOT NULL, `fecha_inicio_estudiante` DATE NULL, `fecha_fin_estudiante` DATE NULL, `certificado_estudiante` VARCHAR(100) NULL, `fecha_activacion_estudiante` DATETIME NULL, `historial_estados` TEXT NOT NULL CHECK ((JSON_VALID(`historial_estados`) OR `historial_estados` IS NULL)), `historial_reintegraciones` TEXT NOT NULL CHECK ((JSON_VALID(`historial_reintegraciones`) OR `historial_reintegraciones` IS NULL)), `posicion_por_antiguedad` INT NULL, `created_at` DATETIME NOT NULL, `upDATEd_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `nombre` VARCHAR(100) NULL);
INSERT INTO `new__voluntarios_voluntario` (`id`, `apellido_paterno`, `apellido_materno`, `rut`, `clave_bombero`, `fecha_nacimiento`, `domicilio`, `telefono`, `email`, `profesion`, `grupo_sanguineo`, `fecha_ingreso`, `nro_registro`, `compania`, `estado_bombero`, `fecha_renuncia`, `motivo_renuncia`, `oficionum_renuncia`, `documento_renuncia`, `fecha_separacion`, `anios_separacion`, `fecha_fin_separacion`, `motivo_separacion`, `oficionum_separacion`, `documento_separacion`, `fecha_expulsion`, `motivo_expulsion`, `oficionum_expulsion`, `documento_expulsion`, `fecha_martir`, `causa_martir`, `oficionum_martir`, `documento_martir`, `fecha_fallecimiento`, `causa_fallecimiento`, `oficionum_fallecimiento`, `documento_fallecimiento`, `antiguedad_congelada`, `fecha_congelamiento`, `fecha_descongelamiento`, `foto`, `cuotas_activas`, `fecha_cambio_cuotas`, `es_estudiante`, `fecha_inicio_estudiante`, `fecha_fin_estudiante`, `certificado_estudiante`, `fecha_activacion_estudiante`, `historial_estados`, `historial_reintegraciones`, `posicion_por_antiguedad`, `created_at`, `upDATEd_at`, `created_by_id`, `nombre`) SELECT `id`, `apellido_paterno`, `apellido_materno`, `rut`, `clave_bombero`, `fecha_nacimiento`, `domicilio`, `telefono`, `email`, `profesion`, `grupo_sanguineo`, `fecha_ingreso`, `nro_registro`, `compania`, `estado_bombero`, `fecha_renuncia`, `motivo_renuncia`, `oficionum_renuncia`, `documento_renuncia`, `fecha_separacion`, `anios_separacion`, `fecha_fin_separacion`, `motivo_separacion`, `oficionum_separacion`, `documento_separacion`, `fecha_expulsion`, `motivo_expulsion`, `oficionum_expulsion`, `documento_expulsion`, `fecha_martir`, `causa_martir`, `oficionum_martir`, `documento_martir`, `fecha_fallecimiento`, `causa_fallecimiento`, `oficionum_fallecimiento`, `documento_fallecimiento`, `antiguedad_congelada`, `fecha_congelamiento`, `fecha_descongelamiento`, `foto`, `cuotas_activas`, `fecha_cambio_cuotas`, `es_estudiante`, `fecha_inicio_estudiante`, `fecha_fin_estudiante`, `certificado_estudiante`, `fecha_activacion_estudiante`, `historial_estados`, `historial_reintegraciones`, `posicion_por_antiguedad`, `created_at`, `upDATEd_at`, `created_by_id`, `nombre` FROM `voluntarios_voluntario`;
DROP TABLE `voluntarios_voluntario`;
ALTER TABLE `new__voluntarios_voluntario` RENAME TO `voluntarios_voluntario`;
CREATE INDEX `voluntarios_voluntario_created_by_id_e492781d` ON `voluntarios_voluntario` (`created_by_id`);
COMMIT;


-- ============================================================
-- MIGRATION: 0004_cicloasistencia_anio_cicloasistencia_ciclo_activo_and_more
-- ============================================================

-- ERROR en 0004_cicloasistencia_anio_cicloasistencia_ciclo_activo_and_more: Cannot find a migration matching '0004_cicloasistencia_anio_cicloasistencia_ciclo_activo_and_more' from app 'voluntarios'. Is it in INSTALLED_APPS?

-- ============================================================
-- MIGRATION: 0005_alter_eventoasistencia_unique_together
-- ============================================================

-- ERROR en 0005_alter_eventoasistencia_unique_together: Cannot find a migration matching '0005_alter_eventoasistencia_unique_together' from app 'voluntarios'. Is it in INSTALLED_APPS?

-- ============================================================
-- MIGRATION: 0006_alter_cicloasistencia_options_and_more
-- ============================================================

-- ERROR en 0006_alter_cicloasistencia_options_and_more: Cannot find a migration matching '0006_alter_cicloasistencia_options_and_more' from app 'voluntarios'. Is it in INSTALLED_APPS?

-- ============================================================
-- MIGRATION: 0007_cicloasistencia_duracion_estimada_dias
-- ============================================================

-- ERROR en 0007_cicloasistencia_duracion_estimada_dias: Cannot find a migration matching '0007_cicloasistencia_duracion_estimada_dias' from app 'voluntarios'. Is it in INSTALLED_APPS?

-- ============================================================
-- MIGRATION: 0008_remove_cicloasistencia_ciclo_activo
-- ============================================================

-- ERROR en 0008_remove_cicloasistencia_ciclo_activo: Cannot find a migration matching '0008_remove_cicloasistencia_ciclo_activo' from app 'voluntarios'. Is it in INSTALLED_APPS?

-- ============================================================
-- MIGRATION: 0009_estadocuotasbombero_alter_cargo_options_and_more
-- ============================================================

-- ERROR en 0009_estadocuotasbombero_alter_cargo_options_and_more: Cannot find a migration matching '0009_estadocuotasbombero_alter_cargo_options_and_more' from app 'voluntarios'. Is it in INSTALLED_APPS?

-- ============================================================
-- MIGRATION: 0010_alter_estadocuotasbombero_options_and_more
-- ============================================================

-- ERROR en 0010_alter_estadocuotasbombero_options_and_more: Cannot find a migration matching '0010_alter_estadocuotasbombero_options_and_more' from app 'voluntarios'. Is it in INSTALLED_APPS?

-- ============================================================
-- MIGRATION: 0011_alter_pagocuota_unique_together_and_more
-- ============================================================

-- ERROR en 0011_alter_pagocuota_unique_together_and_more: Cannot find a migration matching '0011_alter_pagocuota_unique_together_and_more' from app 'voluntarios'. Is it in INSTALLED_APPS?

-- ============================================================
-- MIGRATION: 0012_nuevo_sistema_uniformes
-- ============================================================

START TRANSACTION;
--
-- Delete model EntregaUniforme
--
DROP TABLE `voluntarios_entregauniforme`;
--
-- Delete model Uniforme
--
DROP TABLE `voluntarios_uniforme`;
--
-- Create model ContadorUniformes
--
CREATE TABLE `voluntarios_contadoruniformes` (`id` INT AUTO_INCREMENT PRIMARY KEY, `id_estructural` INT NOT NULL, `id_forestal` INT NOT NULL, `id_rescate` INT NOT NULL, `id_hazmat` INT NOT NULL, `id_tenida_cuartel` INT NOT NULL, `id_accesorios` INT NOT NULL, `id_parada` INT NOT NULL, `id_usar` INT NOT NULL, `id_agreste` INT NOT NULL, `id_um6` INT NOT NULL, `id_gersa` INT NOT NULL);
--
-- Create model Uniforme
--
CREATE TABLE `voluntarios_uniforme` (`id` VARCHAR(20) NOT NULL PRIMARY KEY, `tipo_uniforme` VARCHAR(20) NOT NULL, `fecha_registro` DATETIME NOT NULL, `registrado_por` VARCHAR(100) NOT NULL, `observaciones` TEXT NULL, `estado` VARCHAR(10) NOT NULL, `fecha_devolucion` DATETIME NULL, `devuelto_por` VARCHAR(100) NULL, `bombero_id` BIGINT NOT NULL REFERENCES `voluntarios_voluntario` (`id`) );
--
-- Create model PiezaUniforme
--
CREATE TABLE `voluntarios_piezauniforme` (`id` INT AUTO_INCREMENT PRIMARY KEY, `componente` VARCHAR(100) NOT NULL, `nombre_personalizado` VARCHAR(200) NULL, `marca` VARCHAR(100) NULL, `serie` VARCHAR(100) NULL, `talla` VARCHAR(20) NULL, `condicion` VARCHAR(20) NOT NULL, `estado_fisico` VARCHAR(20) NOT NULL, `unidad` INT NOT NULL, `par_simple` VARCHAR(10) NOT NULL, `fecha_entrega` DATE NOT NULL, `estado_pieza` VARCHAR(10) NOT NULL, `fecha_devolucion` DATETIME NULL, `devuelto_por` VARCHAR(100) NULL, `estado_devolucion` VARCHAR(20) NULL, `condicion_devolucion` VARCHAR(20) NULL, `observaciones_devolucion` TEXT NULL, `ultima_modificacion` TEXT NULL CHECK ((JSON_VALID(`ultima_modificacion`) OR `ultima_modificacion` IS NULL)), `historial_cambios` TEXT NOT NULL CHECK ((JSON_VALID(`historial_cambios`) OR `historial_cambios` IS NULL)), `uniforme_id` VARCHAR(20) NOT NULL REFERENCES `voluntarios_uniforme` (`id`) );
CREATE INDEX `voluntarios_uniforme_bombero_id_700747f8` ON `voluntarios_uniforme` (`bombero_id`);
CREATE INDEX `voluntarios_piezauniforme_uniforme_id_73f5bb7a` ON `voluntarios_piezauniforme` (`uniforme_id`);
COMMIT;


-- ============================================================
-- MIGRATION: 0013_sistema_tesoreria_completo
-- ============================================================

START TRANSACTION;
--
-- Create model ConfiguracionCuotas
--
CREATE TABLE `voluntarios_configuracioncuotas` (`id` INT AUTO_INCREMENT PRIMARY KEY, `precio_regular` DECIMAL(10,2) NOT NULL, `precio_estudiante` DECIMAL(10,2) NOT NULL, `fecha_creacion` DATETIME NOT NULL, `ultima_actualizacion` DATETIME NOT NULL, `actualizado_por_id` INT NULL REFERENCES `auth_user` (`id`) );
--
-- Create model EstadoCuotasBombero
--
CREATE TABLE `voluntarios_estadocuotasbombero` (`id` INT AUTO_INCREMENT PRIMARY KEY, `es_estudiante` BOOLEAN NOT NULL, `fecha_activacion_estudiante` DATE NULL, `observaciones_estudiante` TEXT NULL, `cuotas_desactivadas` BOOLEAN NOT NULL, `motivo_desactivacion` VARCHAR(200) NULL, `fecha_desactivacion` DATETIME NULL, `desactivado_por` VARCHAR(100) NULL, `fecha_creacion` DATETIME NOT NULL, `ultima_actualizacion` DATETIME NOT NULL, `voluntario_id` BIGINT NOT NULL UNIQUE REFERENCES `voluntarios_voluntario` (`id`) );
--
-- Create model MovimientoFinanciero
--
CREATE TABLE `voluntarios_movimientofinanciero` (`id` INT AUTO_INCREMENT PRIMARY KEY, `tipo` VARCHAR(10) NOT NULL, `categoria` VARCHAR(30) NOT NULL, `monto` DECIMAL(10,2) NOT NULL, `descripcion` TEXT NOT NULL, `fecha` DATE NOT NULL, `numero_comprobante` VARCHAR(100) NULL, `observaciones` TEXT NULL, `created_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `pago_cuota_id` BIGINT NULL REFERENCES `voluntarios_pagocuota` (`id`) , `pago_beneficio_id` BIGINT NULL REFERENCES `voluntarios_pagobeneficio` (`id`) );
--
-- Add field mes to pagocuota
--
CREATE TABLE `new__voluntarios_pagocuota` (`id` INT AUTO_INCREMENT PRIMARY KEY, `fecha_pago` DATE NOT NULL, `monto_pagado` DECIMAL(10,2) NOT NULL, `metodo_pago` VARCHAR(50) NULL, `numero_comprobante` VARCHAR(100) NULL, `observaciones` TEXT NULL, `created_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `cuota_id` BIGINT NOT NULL REFERENCES `voluntarios_cuota` (`id`) , `voluntario_id` BIGINT NOT NULL REFERENCES `voluntarios_voluntario` (`id`) , `mes` INT NOT NULL);
INSERT INTO `new__voluntarios_pagocuota` (`id`, `fecha_pago`, `monto_pagado`, `metodo_pago`, `numero_comprobante`, `observaciones`, `created_at`, `created_by_id`, `cuota_id`, `voluntario_id`, `mes`) SELECT `id`, `fecha_pago`, `monto_pagado`, `metodo_pago`, `numero_comprobante`, `observaciones`, `created_at`, `created_by_id`, `cuota_id`, `voluntario_id`, 1 FROM `voluntarios_pagocuota`;
DROP TABLE `voluntarios_pagocuota`;
ALTER TABLE `new__voluntarios_pagocuota` RENAME TO `voluntarios_pagocuota`;
CREATE INDEX `voluntarios_configuracioncuotas_actualizado_por_id_7a4b6f98` ON `voluntarios_configuracioncuotas` (`actualizado_por_id`);
CREATE INDEX `voluntarios_movimientofinanciero_created_by_id_0d93f54c` ON `voluntarios_movimientofinanciero` (`created_by_id`);
CREATE INDEX `voluntarios_movimientofinanciero_pago_cuota_id_c0fadf70` ON `voluntarios_movimientofinanciero` (`pago_cuota_id`);
CREATE INDEX `voluntarios_movimientofinanciero_pago_beneficio_id_9bb29de5` ON `voluntarios_movimientofinanciero` (`pago_beneficio_id`);
CREATE INDEX `voluntarios_pagocuota_created_by_id_e0b63a9f` ON `voluntarios_pagocuota` (`created_by_id`);
CREATE INDEX `voluntarios_pagocuota_cuota_id_7920bf70` ON `voluntarios_pagocuota` (`cuota_id`);
CREATE INDEX `voluntarios_pagocuota_voluntario_id_6f8c20be` ON `voluntarios_pagocuota` (`voluntario_id`);
--
-- Add field anio to pagocuota
--
CREATE TABLE `new__voluntarios_pagocuota` (`id` INT AUTO_INCREMENT PRIMARY KEY, `fecha_pago` DATE NOT NULL, `monto_pagado` DECIMAL(10,2) NOT NULL, `metodo_pago` VARCHAR(50) NULL, `numero_comprobante` VARCHAR(100) NULL, `observaciones` TEXT NULL, `created_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `cuota_id` BIGINT NOT NULL REFERENCES `voluntarios_cuota` (`id`) , `voluntario_id` BIGINT NOT NULL REFERENCES `voluntarios_voluntario` (`id`) , `mes` INT NOT NULL, `anio` INT NOT NULL);
INSERT INTO `new__voluntarios_pagocuota` (`id`, `fecha_pago`, `monto_pagado`, `metodo_pago`, `numero_comprobante`, `observaciones`, `created_at`, `created_by_id`, `cuota_id`, `voluntario_id`, `mes`, `anio`) SELECT `id`, `fecha_pago`, `monto_pagado`, `metodo_pago`, `numero_comprobante`, `observaciones`, `created_at`, `created_by_id`, `cuota_id`, `voluntario_id`, `mes`, 2024 FROM `voluntarios_pagocuota`;
DROP TABLE `voluntarios_pagocuota`;
ALTER TABLE `new__voluntarios_pagocuota` RENAME TO `voluntarios_pagocuota`;
CREATE INDEX `voluntarios_pagocuota_created_by_id_e0b63a9f` ON `voluntarios_pagocuota` (`created_by_id`);
CREATE INDEX `voluntarios_pagocuota_cuota_id_7920bf70` ON `voluntarios_pagocuota` (`cuota_id`);
CREATE INDEX `voluntarios_pagocuota_voluntario_id_6f8c20be` ON `voluntarios_pagocuota` (`voluntario_id`);
--
-- Alter field cuota on pagocuota
--
CREATE TABLE `new__voluntarios_pagocuota` (`id` INT AUTO_INCREMENT PRIMARY KEY, `fecha_pago` DATE NOT NULL, `monto_pagado` DECIMAL(10,2) NOT NULL, `metodo_pago` VARCHAR(50) NULL, `numero_comprobante` VARCHAR(100) NULL, `observaciones` TEXT NULL, `created_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `voluntario_id` BIGINT NOT NULL REFERENCES `voluntarios_voluntario` (`id`) , `mes` INT NOT NULL, `anio` INT NOT NULL, `cuota_id` BIGINT NULL REFERENCES `voluntarios_cuota` (`id`) );
INSERT INTO `new__voluntarios_pagocuota` (`id`, `fecha_pago`, `monto_pagado`, `metodo_pago`, `numero_comprobante`, `observaciones`, `created_at`, `created_by_id`, `voluntario_id`, `mes`, `anio`, `cuota_id`) SELECT `id`, `fecha_pago`, `monto_pagado`, `metodo_pago`, `numero_comprobante`, `observaciones`, `created_at`, `created_by_id`, `voluntario_id`, `mes`, `anio`, `cuota_id` FROM `voluntarios_pagocuota`;
DROP TABLE `voluntarios_pagocuota`;
ALTER TABLE `new__voluntarios_pagocuota` RENAME TO `voluntarios_pagocuota`;
CREATE INDEX `voluntarios_pagocuota_created_by_id_e0b63a9f` ON `voluntarios_pagocuota` (`created_by_id`);
CREATE INDEX `voluntarios_pagocuota_voluntario_id_6f8c20be` ON `voluntarios_pagocuota` (`voluntario_id`);
CREATE INDEX `voluntarios_pagocuota_cuota_id_7920bf70` ON `voluntarios_pagocuota` (`cuota_id`);
--
-- Alter field fecha_pago on pagocuota
--
CREATE TABLE `new__voluntarios_pagocuota` (`id` INT AUTO_INCREMENT PRIMARY KEY, `monto_pagado` DECIMAL(10,2) NOT NULL, `metodo_pago` VARCHAR(50) NULL, `numero_comprobante` VARCHAR(100) NULL, `observaciones` TEXT NULL, `created_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `cuota_id` BIGINT NULL REFERENCES `voluntarios_cuota` (`id`) , `voluntario_id` BIGINT NOT NULL REFERENCES `voluntarios_voluntario` (`id`) , `mes` INT NOT NULL, `anio` INT NOT NULL, `fecha_pago` DATE NOT NULL);
INSERT INTO `new__voluntarios_pagocuota` (`id`, `monto_pagado`, `metodo_pago`, `numero_comprobante`, `observaciones`, `created_at`, `created_by_id`, `cuota_id`, `voluntario_id`, `mes`, `anio`, `fecha_pago`) SELECT `id`, `monto_pagado`, `metodo_pago`, `numero_comprobante`, `observaciones`, `created_at`, `created_by_id`, `cuota_id`, `voluntario_id`, `mes`, `anio`, `fecha_pago` FROM `voluntarios_pagocuota`;
DROP TABLE `voluntarios_pagocuota`;
ALTER TABLE `new__voluntarios_pagocuota` RENAME TO `voluntarios_pagocuota`;
CREATE INDEX `voluntarios_pagocuota_created_by_id_e0b63a9f` ON `voluntarios_pagocuota` (`created_by_id`);
CREATE INDEX `voluntarios_pagocuota_cuota_id_7920bf70` ON `voluntarios_pagocuota` (`cuota_id`);
CREATE INDEX `voluntarios_pagocuota_voluntario_id_6f8c20be` ON `voluntarios_pagocuota` (`voluntario_id`);
--
-- Change Meta options on pagocuota
--
-- (no-op)
--
-- Add field fecha_evento to beneficio
--
CREATE TABLE `new__voluntarios_beneficio` (`id` INT AUTO_INCREMENT PRIMARY KEY, `nombre` VARCHAR(200) NOT NULL, `descripcion` TEXT NOT NULL, `monto` DECIMAL(10,2) NOT NULL, `estado` VARCHAR(20) NOT NULL, `cupos_totales` INT NULL, `cupos_disponibles` INT NULL, `created_at` DATETIME NOT NULL, `fecha_evento` DATE NOT NULL);
INSERT INTO `new__voluntarios_beneficio` (`id`, `nombre`, `descripcion`, `monto`, `estado`, `cupos_totales`, `cupos_disponibles`, `created_at`, `fecha_evento`) SELECT `id`, `nombre`, `descripcion`, `monto`, `estado`, `cupos_totales`, `cupos_disponibles`, `created_at`, '2025-11-17' FROM `voluntarios_beneficio`;
DROP TABLE `voluntarios_beneficio`;
ALTER TABLE `new__voluntarios_beneficio` RENAME TO `voluntarios_beneficio`;
--
-- Add field tarjetas_voluntarios to beneficio
--
CREATE TABLE `new__voluntarios_beneficio` (`id` INT AUTO_INCREMENT PRIMARY KEY, `nombre` VARCHAR(200) NOT NULL, `descripcion` TEXT NOT NULL, `monto` DECIMAL(10,2) NOT NULL, `estado` VARCHAR(20) NOT NULL, `cupos_totales` INT NULL, `cupos_disponibles` INT NULL, `created_at` DATETIME NOT NULL, `fecha_evento` DATE NOT NULL, `tarjetas_voluntarios` INT NOT NULL);
INSERT INTO `new__voluntarios_beneficio` (`id`, `nombre`, `descripcion`, `monto`, `estado`, `cupos_totales`, `cupos_disponibles`, `created_at`, `fecha_evento`, `tarjetas_voluntarios`) SELECT `id`, `nombre`, `descripcion`, `monto`, `estado`, `cupos_totales`, `cupos_disponibles`, `created_at`, `fecha_evento`, 5 FROM `voluntarios_beneficio`;
DROP TABLE `voluntarios_beneficio`;
ALTER TABLE `new__voluntarios_beneficio` RENAME TO `voluntarios_beneficio`;
--
-- Add field tarjetas_honorarios_cia to beneficio
--
CREATE TABLE `new__voluntarios_beneficio` (`id` INT AUTO_INCREMENT PRIMARY KEY, `nombre` VARCHAR(200) NOT NULL, `descripcion` TEXT NOT NULL, `monto` DECIMAL(10,2) NOT NULL, `estado` VARCHAR(20) NOT NULL, `cupos_totales` INT NULL, `cupos_disponibles` INT NULL, `created_at` DATETIME NOT NULL, `fecha_evento` DATE NOT NULL, `tarjetas_voluntarios` INT NOT NULL, `tarjetas_honorarios_cia` INT NOT NULL);
INSERT INTO `new__voluntarios_beneficio` (`id`, `nombre`, `descripcion`, `monto`, `estado`, `cupos_totales`, `cupos_disponibles`, `created_at`, `fecha_evento`, `tarjetas_voluntarios`, `tarjetas_honorarios_cia`) SELECT `id`, `nombre`, `descripcion`, `monto`, `estado`, `cupos_totales`, `cupos_disponibles`, `created_at`, `fecha_evento`, `tarjetas_voluntarios`, 3 FROM `voluntarios_beneficio`;
DROP TABLE `voluntarios_beneficio`;
ALTER TABLE `new__voluntarios_beneficio` RENAME TO `voluntarios_beneficio`;
--
-- Add field tarjetas_honorarios_cuerpo to beneficio
--
CREATE TABLE `new__voluntarios_beneficio` (`id` INT AUTO_INCREMENT PRIMARY KEY, `nombre` VARCHAR(200) NOT NULL, `descripcion` TEXT NOT NULL, `monto` DECIMAL(10,2) NOT NULL, `estado` VARCHAR(20) NOT NULL, `cupos_totales` INT NULL, `cupos_disponibles` INT NULL, `created_at` DATETIME NOT NULL, `fecha_evento` DATE NOT NULL, `tarjetas_voluntarios` INT NOT NULL, `tarjetas_honorarios_cia` INT NOT NULL, `tarjetas_honorarios_cuerpo` INT NOT NULL);
INSERT INTO `new__voluntarios_beneficio` (`id`, `nombre`, `descripcion`, `monto`, `estado`, `cupos_totales`, `cupos_disponibles`, `created_at`, `fecha_evento`, `tarjetas_voluntarios`, `tarjetas_honorarios_cia`, `tarjetas_honorarios_cuerpo`) SELECT `id`, `nombre`, `descripcion`, `monto`, `estado`, `cupos_totales`, `cupos_disponibles`, `created_at`, `fecha_evento`, `tarjetas_voluntarios`, `tarjetas_honorarios_cia`, 3 FROM `voluntarios_beneficio`;
DROP TABLE `voluntarios_beneficio`;
ALTER TABLE `new__voluntarios_beneficio` RENAME TO `voluntarios_beneficio`;
--
-- Add field tarjetas_insignes to beneficio
--
CREATE TABLE `new__voluntarios_beneficio` (`id` INT AUTO_INCREMENT PRIMARY KEY, `nombre` VARCHAR(200) NOT NULL, `descripcion` TEXT NOT NULL, `monto` DECIMAL(10,2) NOT NULL, `estado` VARCHAR(20) NOT NULL, `cupos_totales` INT NULL, `cupos_disponibles` INT NULL, `created_at` DATETIME NOT NULL, `fecha_evento` DATE NOT NULL, `tarjetas_voluntarios` INT NOT NULL, `tarjetas_honorarios_cia` INT NOT NULL, `tarjetas_honorarios_cuerpo` INT NOT NULL, `tarjetas_insignes` INT NOT NULL);
INSERT INTO `new__voluntarios_beneficio` (`id`, `nombre`, `descripcion`, `monto`, `estado`, `cupos_totales`, `cupos_disponibles`, `created_at`, `fecha_evento`, `tarjetas_voluntarios`, `tarjetas_honorarios_cia`, `tarjetas_honorarios_cuerpo`, `tarjetas_insignes`) SELECT `id`, `nombre`, `descripcion`, `monto`, `estado`, `cupos_totales`, `cupos_disponibles`, `created_at`, `fecha_evento`, `tarjetas_voluntarios`, `tarjetas_honorarios_cia`, `tarjetas_honorarios_cuerpo`, 2 FROM `voluntarios_beneficio`;
DROP TABLE `voluntarios_beneficio`;
ALTER TABLE `new__voluntarios_beneficio` RENAME TO `voluntarios_beneficio`;
--
-- Add field precio_por_tarjeta to beneficio
--
CREATE TABLE `new__voluntarios_beneficio` (`id` INT AUTO_INCREMENT PRIMARY KEY, `nombre` VARCHAR(200) NOT NULL, `descripcion` TEXT NOT NULL, `monto` DECIMAL(10,2) NOT NULL, `estado` VARCHAR(20) NOT NULL, `cupos_totales` INT NULL, `cupos_disponibles` INT NULL, `created_at` DATETIME NOT NULL, `fecha_evento` DATE NOT NULL, `tarjetas_voluntarios` INT NOT NULL, `tarjetas_honorarios_cia` INT NOT NULL, `tarjetas_honorarios_cuerpo` INT NOT NULL, `tarjetas_insignes` INT NOT NULL, `precio_por_tarjeta` DECIMAL(10,2) NOT NULL);
INSERT INTO `new__voluntarios_beneficio` (`id`, `nombre`, `descripcion`, `monto`, `estado`, `cupos_totales`, `cupos_disponibles`, `created_at`, `fecha_evento`, `tarjetas_voluntarios`, `tarjetas_honorarios_cia`, `tarjetas_honorarios_cuerpo`, `tarjetas_insignes`, `precio_por_tarjeta`) SELECT `id`, `nombre`, `descripcion`, `monto`, `estado`, `cupos_totales`, `cupos_disponibles`, `created_at`, `fecha_evento`, `tarjetas_voluntarios`, `tarjetas_honorarios_cia`, `tarjetas_honorarios_cuerpo`, `tarjetas_insignes`, '0' FROM `voluntarios_beneficio`;
DROP TABLE `voluntarios_beneficio`;
ALTER TABLE `new__voluntarios_beneficio` RENAME TO `voluntarios_beneficio`;
--
-- Add field precio_tarjeta_extra to beneficio
--
CREATE TABLE `new__voluntarios_beneficio` (`id` INT AUTO_INCREMENT PRIMARY KEY, `nombre` VARCHAR(200) NOT NULL, `descripcion` TEXT NOT NULL, `monto` DECIMAL(10,2) NOT NULL, `estado` VARCHAR(20) NOT NULL, `cupos_totales` INT NULL, `cupos_disponibles` INT NULL, `created_at` DATETIME NOT NULL, `fecha_evento` DATE NOT NULL, `tarjetas_voluntarios` INT NOT NULL, `tarjetas_honorarios_cia` INT NOT NULL, `tarjetas_honorarios_cuerpo` INT NOT NULL, `tarjetas_insignes` INT NOT NULL, `precio_por_tarjeta` DECIMAL(10,2) NOT NULL, `precio_tarjeta_extra` DECIMAL(10,2) NOT NULL);
INSERT INTO `new__voluntarios_beneficio` (`id`, `nombre`, `descripcion`, `monto`, `estado`, `cupos_totales`, `cupos_disponibles`, `created_at`, `fecha_evento`, `tarjetas_voluntarios`, `tarjetas_honorarios_cia`, `tarjetas_honorarios_cuerpo`, `tarjetas_insignes`, `precio_por_tarjeta`, `precio_tarjeta_extra`) SELECT `id`, `nombre`, `descripcion`, `monto`, `estado`, `cupos_totales`, `cupos_disponibles`, `created_at`, `fecha_evento`, `tarjetas_voluntarios`, `tarjetas_honorarios_cia`, `tarjetas_honorarios_cuerpo`, `tarjetas_insignes`, `precio_por_tarjeta`, '0' FROM `voluntarios_beneficio`;
DROP TABLE `voluntarios_beneficio`;
ALTER TABLE `new__voluntarios_beneficio` RENAME TO `voluntarios_beneficio`;
--
-- Add field created_by to beneficio
--
ALTER TABLE `voluntarios_beneficio` ADD COLUMN `created_by_id` INT NULL REFERENCES `auth_user` (`id`) ;
--
-- Remove field monto from beneficio
--
ALTER TABLE `voluntarios_beneficio` DROP COLUMN `monto`;
--
-- Remove field cupos_totales from beneficio
--
ALTER TABLE `voluntarios_beneficio` DROP COLUMN `cupos_totales`;
--
-- Remove field cupos_disponibles from beneficio
--
ALTER TABLE `voluntarios_beneficio` DROP COLUMN `cupos_disponibles`;
--
-- Alter field estado on beneficio
--
-- (no-op)
--
-- Change Meta options on beneficio
--
-- (no-op)
--
-- Add field tarjetas_asignadas to asignacionbeneficio
--
CREATE TABLE `new__voluntarios_asignacionbeneficio` (`id` INT AUTO_INCREMENT PRIMARY KEY, `fecha_asignacion` DATE NOT NULL, `monto_total` DECIMAL(10,2) NOT NULL, `monto_pagado` DECIMAL(10,2) NOT NULL, `estado_pago` VARCHAR(20) NOT NULL, `observaciones` TEXT NULL, `created_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `beneficio_id` BIGINT NOT NULL REFERENCES `voluntarios_beneficio` (`id`) , `voluntario_id` BIGINT NOT NULL REFERENCES `voluntarios_voluntario` (`id`) , `tarjetas_asignadas` INT NOT NULL);
INSERT INTO `new__voluntarios_asignacionbeneficio` (`id`, `fecha_asignacion`, `monto_total`, `monto_pagado`, `estado_pago`, `observaciones`, `created_at`, `created_by_id`, `beneficio_id`, `voluntario_id`, `tarjetas_asignadas`) SELECT `id`, `fecha_asignacion`, `monto_total`, `monto_pagado`, `estado_pago`, `observaciones`, `created_at`, `created_by_id`, `beneficio_id`, `voluntario_id`, 0 FROM `voluntarios_asignacionbeneficio`;
DROP TABLE `voluntarios_asignacionbeneficio`;
ALTER TABLE `new__voluntarios_asignacionbeneficio` RENAME TO `voluntarios_asignacionbeneficio`;
CREATE INDEX `voluntarios_beneficio_created_by_id_80a23b8e` ON `voluntarios_beneficio` (`created_by_id`);
CREATE INDEX `voluntarios_asignacionbeneficio_created_by_id_f9a224ae` ON `voluntarios_asignacionbeneficio` (`created_by_id`);
CREATE INDEX `voluntarios_asignacionbeneficio_beneficio_id_3ff0fb7e` ON `voluntarios_asignacionbeneficio` (`beneficio_id`);
CREATE INDEX `voluntarios_asignacionbeneficio_voluntario_id_5be170d4` ON `voluntarios_asignacionbeneficio` (`voluntario_id`);
--
-- Add field tarjetas_vendidas to asignacionbeneficio
--
CREATE TABLE `new__voluntarios_asignacionbeneficio` (`id` INT AUTO_INCREMENT PRIMARY KEY, `fecha_asignacion` DATE NOT NULL, `monto_total` DECIMAL(10,2) NOT NULL, `monto_pagado` DECIMAL(10,2) NOT NULL, `estado_pago` VARCHAR(20) NOT NULL, `observaciones` TEXT NULL, `created_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `beneficio_id` BIGINT NOT NULL REFERENCES `voluntarios_beneficio` (`id`) , `voluntario_id` BIGINT NOT NULL REFERENCES `voluntarios_voluntario` (`id`) , `tarjetas_asignadas` INT NOT NULL, `tarjetas_vendidas` INT NOT NULL);
INSERT INTO `new__voluntarios_asignacionbeneficio` (`id`, `fecha_asignacion`, `monto_total`, `monto_pagado`, `estado_pago`, `observaciones`, `created_at`, `created_by_id`, `beneficio_id`, `voluntario_id`, `tarjetas_asignadas`, `tarjetas_vendidas`) SELECT `id`, `fecha_asignacion`, `monto_total`, `monto_pagado`, `estado_pago`, `observaciones`, `created_at`, `created_by_id`, `beneficio_id`, `voluntario_id`, `tarjetas_asignadas`, 0 FROM `voluntarios_asignacionbeneficio`;
DROP TABLE `voluntarios_asignacionbeneficio`;
ALTER TABLE `new__voluntarios_asignacionbeneficio` RENAME TO `voluntarios_asignacionbeneficio`;
CREATE INDEX `voluntarios_asignacionbeneficio_created_by_id_f9a224ae` ON `voluntarios_asignacionbeneficio` (`created_by_id`);
CREATE INDEX `voluntarios_asignacionbeneficio_beneficio_id_3ff0fb7e` ON `voluntarios_asignacionbeneficio` (`beneficio_id`);
CREATE INDEX `voluntarios_asignacionbeneficio_voluntario_id_5be170d4` ON `voluntarios_asignacionbeneficio` (`voluntario_id`);
--
-- Add field tarjetas_extras_vendidas to asignacionbeneficio
--
CREATE TABLE `new__voluntarios_asignacionbeneficio` (`id` INT AUTO_INCREMENT PRIMARY KEY, `fecha_asignacion` DATE NOT NULL, `monto_total` DECIMAL(10,2) NOT NULL, `monto_pagado` DECIMAL(10,2) NOT NULL, `estado_pago` VARCHAR(20) NOT NULL, `observaciones` TEXT NULL, `created_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `beneficio_id` BIGINT NOT NULL REFERENCES `voluntarios_beneficio` (`id`) , `voluntario_id` BIGINT NOT NULL REFERENCES `voluntarios_voluntario` (`id`) , `tarjetas_asignadas` INT NOT NULL, `tarjetas_vendidas` INT NOT NULL, `tarjetas_extras_vendidas` INT NOT NULL);
INSERT INTO `new__voluntarios_asignacionbeneficio` (`id`, `fecha_asignacion`, `monto_total`, `monto_pagado`, `estado_pago`, `observaciones`, `created_at`, `created_by_id`, `beneficio_id`, `voluntario_id`, `tarjetas_asignadas`, `tarjetas_vendidas`, `tarjetas_extras_vendidas`) SELECT `id`, `fecha_asignacion`, `monto_total`, `monto_pagado`, `estado_pago`, `observaciones`, `created_at`, `created_by_id`, `beneficio_id`, `voluntario_id`, `tarjetas_asignadas`, `tarjetas_vendidas`, 0 FROM `voluntarios_asignacionbeneficio`;
DROP TABLE `voluntarios_asignacionbeneficio`;
ALTER TABLE `new__voluntarios_asignacionbeneficio` RENAME TO `voluntarios_asignacionbeneficio`;
CREATE INDEX `voluntarios_asignacionbeneficio_created_by_id_f9a224ae` ON `voluntarios_asignacionbeneficio` (`created_by_id`);
CREATE INDEX `voluntarios_asignacionbeneficio_beneficio_id_3ff0fb7e` ON `voluntarios_asignacionbeneficio` (`beneficio_id`);
CREATE INDEX `voluntarios_asignacionbeneficio_voluntario_id_5be170d4` ON `voluntarios_asignacionbeneficio` (`voluntario_id`);
--
-- Add field tarjetas_liberadas to asignacionbeneficio
--
CREATE TABLE `new__voluntarios_asignacionbeneficio` (`id` INT AUTO_INCREMENT PRIMARY KEY, `fecha_asignacion` DATE NOT NULL, `monto_total` DECIMAL(10,2) NOT NULL, `monto_pagado` DECIMAL(10,2) NOT NULL, `estado_pago` VARCHAR(20) NOT NULL, `observaciones` TEXT NULL, `created_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `beneficio_id` BIGINT NOT NULL REFERENCES `voluntarios_beneficio` (`id`) , `voluntario_id` BIGINT NOT NULL REFERENCES `voluntarios_voluntario` (`id`) , `tarjetas_asignadas` INT NOT NULL, `tarjetas_vendidas` INT NOT NULL, `tarjetas_extras_vendidas` INT NOT NULL, `tarjetas_liberadas` INT NOT NULL);
INSERT INTO `new__voluntarios_asignacionbeneficio` (`id`, `fecha_asignacion`, `monto_total`, `monto_pagado`, `estado_pago`, `observaciones`, `created_at`, `created_by_id`, `beneficio_id`, `voluntario_id`, `tarjetas_asignadas`, `tarjetas_vendidas`, `tarjetas_extras_vendidas`, `tarjetas_liberadas`) SELECT `id`, `fecha_asignacion`, `monto_total`, `monto_pagado`, `estado_pago`, `observaciones`, `created_at`, `created_by_id`, `beneficio_id`, `voluntario_id`, `tarjetas_asignadas`, `tarjetas_vendidas`, `tarjetas_extras_vendidas`, 0 FROM `voluntarios_asignacionbeneficio`;
DROP TABLE `voluntarios_asignacionbeneficio`;
ALTER TABLE `new__voluntarios_asignacionbeneficio` RENAME TO `voluntarios_asignacionbeneficio`;
CREATE INDEX `voluntarios_asignacionbeneficio_created_by_id_f9a224ae` ON `voluntarios_asignacionbeneficio` (`created_by_id`);
CREATE INDEX `voluntarios_asignacionbeneficio_beneficio_id_3ff0fb7e` ON `voluntarios_asignacionbeneficio` (`beneficio_id`);
CREATE INDEX `voluntarios_asignacionbeneficio_voluntario_id_5be170d4` ON `voluntarios_asignacionbeneficio` (`voluntario_id`);
--
-- Add field monto_pendiente to asignacionbeneficio
--
CREATE TABLE `new__voluntarios_asignacionbeneficio` (`id` INT AUTO_INCREMENT PRIMARY KEY, `fecha_asignacion` DATE NOT NULL, `monto_total` DECIMAL(10,2) NOT NULL, `monto_pagado` DECIMAL(10,2) NOT NULL, `estado_pago` VARCHAR(20) NOT NULL, `observaciones` TEXT NULL, `created_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `beneficio_id` BIGINT NOT NULL REFERENCES `voluntarios_beneficio` (`id`) , `voluntario_id` BIGINT NOT NULL REFERENCES `voluntarios_voluntario` (`id`) , `tarjetas_asignadas` INT NOT NULL, `tarjetas_vendidas` INT NOT NULL, `tarjetas_extras_vendidas` INT NOT NULL, `tarjetas_liberadas` INT NOT NULL, `monto_pendiente` DECIMAL(10,2) NOT NULL);
INSERT INTO `new__voluntarios_asignacionbeneficio` (`id`, `fecha_asignacion`, `monto_total`, `monto_pagado`, `estado_pago`, `observaciones`, `created_at`, `created_by_id`, `beneficio_id`, `voluntario_id`, `tarjetas_asignadas`, `tarjetas_vendidas`, `tarjetas_extras_vendidas`, `tarjetas_liberadas`, `monto_pendiente`) SELECT `id`, `fecha_asignacion`, `monto_total`, `monto_pagado`, `estado_pago`, `observaciones`, `created_at`, `created_by_id`, `beneficio_id`, `voluntario_id`, `tarjetas_asignadas`, `tarjetas_vendidas`, `tarjetas_extras_vendidas`, `tarjetas_liberadas`, '0' FROM `voluntarios_asignacionbeneficio`;
DROP TABLE `voluntarios_asignacionbeneficio`;
ALTER TABLE `new__voluntarios_asignacionbeneficio` RENAME TO `voluntarios_asignacionbeneficio`;
CREATE INDEX `voluntarios_asignacionbeneficio_created_by_id_f9a224ae` ON `voluntarios_asignacionbeneficio` (`created_by_id`);
CREATE INDEX `voluntarios_asignacionbeneficio_beneficio_id_3ff0fb7e` ON `voluntarios_asignacionbeneficio` (`beneficio_id`);
CREATE INDEX `voluntarios_asignacionbeneficio_voluntario_id_5be170d4` ON `voluntarios_asignacionbeneficio` (`voluntario_id`);
--
-- Add field historial_liberaciones to asignacionbeneficio
--
ALTER TABLE `voluntarios_asignacionbeneficio` ADD COLUMN `historial_liberaciones` TEXT NULL;
--
-- Alter field monto_total on asignacionbeneficio
--
CREATE TABLE `new__voluntarios_asignacionbeneficio` (`id` INT AUTO_INCREMENT PRIMARY KEY, `fecha_asignacion` DATE NOT NULL, `monto_pagado` DECIMAL(10,2) NOT NULL, `estado_pago` VARCHAR(20) NOT NULL, `observaciones` TEXT NULL, `created_at` DATETIME NOT NULL, `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `beneficio_id` BIGINT NOT NULL REFERENCES `voluntarios_beneficio` (`id`) , `voluntario_id` BIGINT NOT NULL REFERENCES `voluntarios_voluntario` (`id`) , `tarjetas_asignadas` INT NOT NULL, `tarjetas_vendidas` INT NOT NULL, `tarjetas_extras_vendidas` INT NOT NULL, `tarjetas_liberadas` INT NOT NULL, `monto_pendiente` DECIMAL(10,2) NOT NULL, `historial_liberaciones` TEXT NULL, `monto_total` DECIMAL(10,2) NOT NULL);
INSERT INTO `new__voluntarios_asignacionbeneficio` (`id`, `fecha_asignacion`, `monto_pagado`, `estado_pago`, `observaciones`, `created_at`, `created_by_id`, `beneficio_id`, `voluntario_id`, `tarjetas_asignadas`, `tarjetas_vendidas`, `tarjetas_extras_vendidas`, `tarjetas_liberadas`, `monto_pendiente`, `historial_liberaciones`, `monto_total`) SELECT `id`, `fecha_asignacion`, `monto_pagado`, `estado_pago`, `observaciones`, `created_at`, `created_by_id`, `beneficio_id`, `voluntario_id`, `tarjetas_asignadas`, `tarjetas_vendidas`, `tarjetas_extras_vendidas`, `tarjetas_liberadas`, `monto_pendiente`, `historial_liberaciones`, `monto_total` FROM `voluntarios_asignacionbeneficio`;
DROP TABLE `voluntarios_asignacionbeneficio`;
ALTER TABLE `new__voluntarios_asignacionbeneficio` RENAME TO `voluntarios_asignacionbeneficio`;
CREATE INDEX `voluntarios_asignacionbeneficio_created_by_id_f9a224ae` ON `voluntarios_asignacionbeneficio` (`created_by_id`);
CREATE INDEX `voluntarios_asignacionbeneficio_beneficio_id_3ff0fb7e` ON `voluntarios_asignacionbeneficio` (`beneficio_id`);
CREATE INDEX `voluntarios_asignacionbeneficio_voluntario_id_5be170d4` ON `voluntarios_asignacionbeneficio` (`voluntario_id`);
--
-- Alter field estado_pago on asignacionbeneficio
--
-- (no-op)
--
-- Remove field fecha_asignacion from asignacionbeneficio
--
ALTER TABLE `voluntarios_asignacionbeneficio` DROP COLUMN `fecha_asignacion`;
--
-- Change Meta options on asignacionbeneficio
--
-- (no-op)
--
-- Alter unique_together for asignacionbeneficio (1 constraint(s))
--
CREATE UNIQUE INDEX `voluntarios_asignacionbeneficio_beneficio_id_voluntario_id_5819f22e_uniq` ON `voluntarios_asignacionbeneficio` (`beneficio_id`, `voluntario_id`);
--
-- Alter field beneficio on asignacionbeneficio
--
-- (no-op)
--
-- Add field tipo_pago to pagobeneficio
--
CREATE TABLE `new__voluntarios_pagobeneficio` (`id` INT AUTO_INCREMENT PRIMARY KEY, `fecha_pago` DATE NOT NULL, `monto` DECIMAL(10,2) NOT NULL, `metodo_pago` VARCHAR(50) NULL, `numero_comprobante` VARCHAR(100) NULL, `observaciones` TEXT NULL, `created_at` DATETIME NOT NULL, `asignacion_id` BIGINT NOT NULL REFERENCES `voluntarios_asignacionbeneficio` (`id`) , `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `tipo_pago` VARCHAR(10) NOT NULL);
INSERT INTO `new__voluntarios_pagobeneficio` (`id`, `fecha_pago`, `monto`, `metodo_pago`, `numero_comprobante`, `observaciones`, `created_at`, `asignacion_id`, `created_by_id`, `tipo_pago`) SELECT `id`, `fecha_pago`, `monto`, `metodo_pago`, `numero_comprobante`, `observaciones`, `created_at`, `asignacion_id`, `created_by_id`, 'normal' FROM `voluntarios_pagobeneficio`;
DROP TABLE `voluntarios_pagobeneficio`;
ALTER TABLE `new__voluntarios_pagobeneficio` RENAME TO `voluntarios_pagobeneficio`;
CREATE INDEX `voluntarios_pagobeneficio_asignacion_id_6d148add` ON `voluntarios_pagobeneficio` (`asignacion_id`);
CREATE INDEX `voluntarios_pagobeneficio_created_by_id_7dbaf1f9` ON `voluntarios_pagobeneficio` (`created_by_id`);
--
-- Add field cantidad_tarjetas to pagobeneficio
--
CREATE TABLE `new__voluntarios_pagobeneficio` (`id` INT AUTO_INCREMENT PRIMARY KEY, `fecha_pago` DATE NOT NULL, `monto` DECIMAL(10,2) NOT NULL, `metodo_pago` VARCHAR(50) NULL, `numero_comprobante` VARCHAR(100) NULL, `observaciones` TEXT NULL, `created_at` DATETIME NOT NULL, `asignacion_id` BIGINT NOT NULL REFERENCES `voluntarios_asignacionbeneficio` (`id`) , `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `tipo_pago` VARCHAR(10) NOT NULL, `cantidad_tarjetas` INT NOT NULL);
INSERT INTO `new__voluntarios_pagobeneficio` (`id`, `fecha_pago`, `monto`, `metodo_pago`, `numero_comprobante`, `observaciones`, `created_at`, `asignacion_id`, `created_by_id`, `tipo_pago`, `cantidad_tarjetas`) SELECT `id`, `fecha_pago`, `monto`, `metodo_pago`, `numero_comprobante`, `observaciones`, `created_at`, `asignacion_id`, `created_by_id`, `tipo_pago`, 1 FROM `voluntarios_pagobeneficio`;
DROP TABLE `voluntarios_pagobeneficio`;
ALTER TABLE `new__voluntarios_pagobeneficio` RENAME TO `voluntarios_pagobeneficio`;
CREATE INDEX `voluntarios_pagobeneficio_asignacion_id_6d148add` ON `voluntarios_pagobeneficio` (`asignacion_id`);
CREATE INDEX `voluntarios_pagobeneficio_created_by_id_7dbaf1f9` ON `voluntarios_pagobeneficio` (`created_by_id`);
--
-- Alter field fecha_pago on pagobeneficio
--
CREATE TABLE `new__voluntarios_pagobeneficio` (`id` INT AUTO_INCREMENT PRIMARY KEY, `monto` DECIMAL(10,2) NOT NULL, `metodo_pago` VARCHAR(50) NULL, `numero_comprobante` VARCHAR(100) NULL, `observaciones` TEXT NULL, `created_at` DATETIME NOT NULL, `asignacion_id` BIGINT NOT NULL REFERENCES `voluntarios_asignacionbeneficio` (`id`) , `created_by_id` INT NULL REFERENCES `auth_user` (`id`) , `tipo_pago` VARCHAR(10) NOT NULL, `cantidad_tarjetas` INT NOT NULL, `fecha_pago` DATE NOT NULL);
INSERT INTO `new__voluntarios_pagobeneficio` (`id`, `monto`, `metodo_pago`, `numero_comprobante`, `observaciones`, `created_at`, `asignacion_id`, `created_by_id`, `tipo_pago`, `cantidad_tarjetas`, `fecha_pago`) SELECT `id`, `monto`, `metodo_pago`, `numero_comprobante`, `observaciones`, `created_at`, `asignacion_id`, `created_by_id`, `tipo_pago`, `cantidad_tarjetas`, `fecha_pago` FROM `voluntarios_pagobeneficio`;
DROP TABLE `voluntarios_pagobeneficio`;
ALTER TABLE `new__voluntarios_pagobeneficio` RENAME TO `voluntarios_pagobeneficio`;
CREATE INDEX `voluntarios_pagobeneficio_asignacion_id_6d148add` ON `voluntarios_pagobeneficio` (`asignacion_id`);
CREATE INDEX `voluntarios_pagobeneficio_created_by_id_7dbaf1f9` ON `voluntarios_pagobeneficio` (`created_by_id`);
--
-- Alter unique_together for pagocuota (1 constraint(s))
--
CREATE UNIQUE INDEX `voluntarios_pagocuota_voluntario_id_mes_anio_2d6e2f51_uniq` ON `voluntarios_pagocuota` (`voluntario_id`, `mes`, `anio`);
COMMIT;


-- ============================================================
-- MIGRATION: 0014_ciclocuotas
-- ============================================================

-- ERROR en 0014_ciclocuotas: Cannot find a migration matching '0014_ciclocuotas' from app 'voluntarios'. Is it in INSTALLED_APPS?

================================================================================
FIN DEL SCRIPT SQL
================================================================================
